---
layout: default
title: Home
---

<div id="home">

  <ul class="posts">
    {% for post in site.posts limit: 15 %}
      <div class="front">
      {% capture post_date %}{{ post.date | date: "%Y%m%d" }}{% endcapture %}
      {% if post_date != prev_post_date %}
        <div align="right" class="date-container">{{ post.date | date:"%A, %e %B %Y" | upcase }}</div>
      {% endif %}
      {% capture prev_post_date %}{{ post.date | date: "%Y%m%d" }}{% endcapture %}
        <h1>{{ post.title }} <a class="post-title" href="{{ post.url }}" title="Permanent link to: '{{ post.title }}'">&#x25A0;</a></h1>
        {{ post.content }}
      </div>
      {% if forloop.last == false %}
      </br>
      <hr class="front">
      </br>
      {% endif %}
    {% endfor %}
  </ul>

</div>